:root{
    --head:60px;
    --gap:0px;
}
/*The Logo of the Website*/
#logo{
    float: left;
    height:calc(var(--head) - 14px);
    background-color: white;
    margin:7px;
}
/* Header Of the Website*/
#fosseeheader{
    position: fixed;
    top:var(--gap);
    z-index: 111;
    background-color: #fff;
    width:100vw;
    height: var(--head);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.5);
    color: #fff;
    margin-bottom: 3px;
    padding: 0;
    overflow: hidden;
    transition: top 1s ease;
}
#mainMenu{
    height: 100%;
    float: left;
    font-size: 1.5em;
    font-family: 'Lato',sans-serif;
    font-style: normal;
}
#mainMenu ul{
  margin-left: 0.5em;
  margin-top: -0.3em;
}
/* The Top Menu */
#mainMenu ul li{
    display: inline;
}
#mainMenu ul li a{
    text-decoration: none;
    font-weight: lighter;
    color: #000;
    padding:5px;
    position: relative;
    top:20px;
    margin-left: 5px;
    border-radius:8px;
}
#mainMenu ul li a:first{
    margin-left: 10px;
}
#mainMenu ul li a:hover{
    background: #f66237;
    color:#fff;
}
/* The Toggle Button*/
#toggle{
    display: none;
    float:right;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    color:#000;
    z-index:112;
    font-size: 24px;
    cursor: pointer;
}
#toggle:hover{
    background: orangered;
    color:#fff;
}
/*  Left Side navigation bar when */
#sideNavBar{
    width: 0;
    overflow-x: hidden;
    position: fixed;
    left:0px;
    background:#f2f2f2;
    top:0px;
    left:0px;
    z-index: 114;
    transition: width 0.5s ease;
    height:100vh;
}
#sideNavBar label{
    color: red;
    font-size: 60px;
    float:right;
    position: relative;
    top:20px;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
#sideNavBar ul{
    position: relative;
    top:100px;
    visibility: hidden;
}
#sideNavBar ul li{
    width:100%;
}
#sideNavBar ul li a{
    text-decoration:none;
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: #000000;
    display: block;
    padding-left: 20%;
}
#sideNavBar ul li a:hover{
    color: #f1f1f1;
    background-color: #ff7b00;
}
/* Footer Section */
#footer{
    bottom:0;
    width:100%;
    background: linear-gradient(to right, #4c7099 0%,#e0701a 100%);
    clear: both;
    min-height: 400px;
    color:#fff;
    text-align: center;
    font-size: 18px;
    padding-top: 5vh;
    margin-top:7vh;
    z-index: 100;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 120px;
    grid-template-areas: "poster bro contacts mhrd"
    "cc cc . icons";
}
#footer a{
    text-decoration: none;
    color:lightblue;
}

@media screen and (max-width:850px){
    #footer{ 
        grid-template-columns: auto 300px 300px auto;
        grid-template-rows: 1fr 60px 60px;
        grid-template-areas: ". contacts mhrd ."
        ". cc  cc ."
        ". icons icons .";
    }
    #footer #icons{
        margin-left: 150px;
    }
}
@media screen and (max-width:600px){
    #footer{ 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 60px 60px;
        grid-template-areas: "contacts mhrd"
        "cc  cc"
        "icons icons";
    }
}
@media screen and (max-width:875px){
    #mainMenu{
        display: none;
    }
    #toggle{
        display: block;
    }
}

#toggle{
  margin-top: 0.5em;
  margin-right: 0.4em;
  padding-top: 0.2em;
  border-radius: 0.5em;
}

#footer #icons{
    display: grid;
    grid-area:icons;
    grid-template-columns: 60px 60px 60px 60px 60px;
}
#footer #poster{
    margin-bottom: 1em;
}
#footer #icons div{
    width:50px;
    height:50px;
    border-radius: 25px;
    background-color: #4b97ee;
    transition: font 1s ease;
    font-size: 1.5em;
    display: grid;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#footer #icons div a{
    text-decoration: none;
    color:#fff;
}
#footer #icons div:hover{
    font-size: 1em;
    background: rgb(11, 154, 211);
}   
#footer #cc{
    grid-area:cc;   
}
#banner_header{
    position: fixed;
    top:0;
    left:0;
    min-height: 175px;
    width:100vw;
    z-index: 110;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    transition: opacity 1s ease;
}
#banner_header div{
    margin:auto auto;
}