*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}
.heading{
    font-size: 3em;
    margin: 0.5em 0em 1em 1em;
    font-family: 'Lato', sans-serif;
}
#projects{
    background: #fff;
    display: grid;
    width: 100%;
    padding :10px;
    padding-bottom: 30px;
    margin-bottom: -5vw;
    grid-template-columns: auto 365px 365px 365px auto;
    grid-template-areas: ". e0 e1 e2 ."
    ". e3 e4 e5 ."
    ". e6 e7 e8 ."
    ". e9 e10 e11 ."
    ". e12 . . .";
    grid-gap: 20px 20px;
    align-items: center;
    justify-items: center;
}

.flip-container {
    perspective: 1000px;
    border-radius: 7px;
}
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateX(180deg);
	}

.flip-container, .front, .back {
    width: 363px;
    height: 261px;
}

.back{
  font-family: 'Roboto Mono', monospace;
}
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
    position: relative;
    transform-origin: 100% 130.5px;
}
.front, .back {
	backface-visibility: hidden;
    position: absolute;
    border-radius: 7px;
	top: 0;
	left: 0;
}
.front {
	z-index: 2;
    transform: rotateX(0deg);
}
.front img{
    width: 100%;
}
.back {
    transform: rotateX(-180deg);
    font-size: 1.2em;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: rgb(54,81,111);
    color: #ffffff;
}
.back p{
  margin: 0.5em;
  text-align: justify;
}

@media screen and (max-width: 1000px) {
    #projects{
        grid-template-columns: auto 365px 365px auto;
        grid-template-areas: ". e0 e1 ."
        ". e2 e3 ."
        ". e4 e5 ."
        ". e6 e7 ."
        ". e8 e9 ."
        ". e10 e11 ."
        ". e12 . .";
    }
    .back{
        padding-left:10px;
        padding-right: 10px;
    }
}
@media screen and (max-width:726px){
    #projects{
        /* background: green; */
        grid-template-columns: 1fr;
        grid-template-areas: "e0""e1""e2""e3""e4""e5""e6""e7""e8""e9""e10""e11""e12";
    }
}

@media screen and (max-width:400px){
    #projects{
        margin-left: 0;
        margin-right: 0;
    }
    .flip-container, .front, .back {
        width:100vw;
        height: calc((100vw / 363) * 261);
    }
    .back{
        padding-left: 0;
        padding-right: 0;
    }   
    .flipper{
        transform-origin: 100% calc((100vw / 363) * 130.5);
    }
}

#special-area{
  display: flex;
  margin-top: calc(5em + var(--head) + var(--gap));
  flex-direction: row;
}

.btn{
  padding: 0.6em;
  border-radius: 1em;
  background: #4c7099;
  margin: 0em 1em 1em 0em;
  color: #ffffff;
  text-decoration: none;
}

#activites{
    position: relative;
    background-color: rgb(255, 177, 0);
    color:#fff;
    font-size: 1.2em;
    bottom: 0;
    max-width:100%;
    margin-top: 4em;
    margin-bottom: -7vh;
    min-height: 1000px;
    padding: 0em 1.5em 1em 1.5em;
}

#activites .activites-head{
  margin: 1em 0em 0.5em 1em;;
  font-size: 3em;
}

#act-content{
  color: #000000;
  display: flex;
  margin: 2em 2.5em 1em 0em;
  border-radius: 1.5em;
  min-height: 850px;
}

.act-tabs{
  width: 20%;
  padding: 2em 0em 2em 2em;
  height: 200px;
}

.act-tabs li{
    background-color: #fff;
  list-style: none;
  padding: 1em 0em 1em 0em;
  border: 0.5px solid #bfbaba;
  margin-left: 1em;
  border-radius: 0.5em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
  margin-bottom: 0.3em;
}

.act-tabs li.active{
    background-color: rgb(240, 239, 239);
}

.act-tabs li a{
  text-decoration: none;
  color : orangered;
}

.act-tabs li:hover{
  background: #bfbaba;
}

.tab-content{
    background-color:rgb(240, 239, 239);
    width: 70%;
    margin: 2em 3em 2em 0em;
  border: 0.5px solid #bfbaba;
  border-radius: 1em;
  margin-left: 0.5em;
  border-top-left-radius: 0em;
  padding: 1em;
}
.tab-content div.active{
    display: block;
}

.tab-content .tab-pane h3{
  font-size: 1.8em;
}

.tab-content .tab-pane p{
  margin-top: 0.5em;
}

.tab-content .tab-pane ol{
  padding-left: 1.5em;
  line-height: 2em;
}

.tab-content .tab-pane table tr td{
  padding: 0.4em 0em 0.4em 1em;
  background: #f56337;
  border-radius: 0.5em;
  /*border: 0.5px solid #000;*/
}

.tab-content .tab-pane table tr td a{
  text-decoration: none;
  color: #ffffff;
}

.tab-content .tab-pane table tr td a:hover{
  color: #000000;
}


@media screen and (max-width:630px){
    #activites{
        padding: 2px;
    }
    .tab-content{
        padding-left: 10px;
        /* padding-right: 0; */
        margin-right: 10px;
    }
    .act-tabs li{
        margin-left: 0;
    }
}
@keyframes slideIn{
    0%{
        margin-left: 60%;
        margin-right: -60%;
    }
    100%{
        margin-left: 0;
        margin-right: 0;
    }
}
@keyframes slideText{
    0%{
        margin-left: 60%;
        margin-right: -60%;
    }
    20%,100%{
        margin-left: 6vw;
        margin-right: 0;
    }
}
#sidediv{
    width:60%;
    position: absolute;
    top:calc(100vh - var(--head) + var(--gap) - 2em);
    right: 0;
    background-color: #ff8a00;
    height:4.5em;
    display: flex;
    box-shadow: 2px 2px 8px #000;
    -webkit-clip-path: polygon(24% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(4vw 0, 100% 0, 100% 100%, 0% 100%);
    animation: slideIn 2s ease;
    /* animation-delay: 5s; */
}

#sidediv p{
    color:#fff;
    font-size: 2em;
    margin-left: 6vw;
    margin-top:auto;
    animation: slideText 5s ease infinite;
}
#poster img{
    max-width: 200px;
    max-height: 266px;
    width:100%;
}

#contacts table tr td:nth-child(1){
    width:50px;
}
#contacts table tr td:nth-child(2){
    text-align: left;
    width:200px;
}
@media screen and (max-width:600px){
    #sidediv{
        clip-path: none;
        width: 100%;
    }
    #sidediv p{
        font-size: 1.2em;
    }
}
@media screen and (max-width:850px){
    #brochure{
        display: none;
    }
    #poster{
        display:none;
    }
}




/*NEWS CSS*/
#news{
    border: 1px solid rgb(185, 185, 185);
    width: 43%;
    min-height: 200px;
    margin-left: 3em;
    margin-right: 0.5em;
}
#news ul{
  white-space: nowrap;
  background: #4c7099;
}

#news ul li{
  list-style: none;
  display: inline-block;
  width: 49.7%;
  text-align: center;
  padding: 0.8em 0em 0.8em 0em;
  background: #4c7099;
  color:#ffffff;
  cursor: pointer;
}
#news ul li.active{
    color:#4c7099;
    background: #e9e6e6;    
}
#news ul li:hover{
  color:#4c7099;
  background: #d6caca;
}
#news .newscontent{
  padding: 0 0.5em 0 0.5em;
  min-height: 250px;
}
.newscontent table tr a{
  color: #e3560a;
  text-decoration: none;
}

.newscontent table tr a:hover{
  color: #4c7099;
}

.newscontent table tr td:nth-child(1){
  width: 5%;
  text-align: center;
}

.newscontent table tr td:nth-child(2){
  width: 80%;
  padding: 1em 0.4em 1em 0.2em;
}
#news .policycontent{
    min-height: 250px;
}
#news .policycontent div{
    margin: 10px;
    background: radial-gradient(#c7c7c7,#473b3b);
    min-height: 230px;
    display: flex;
}
#news .policycontent div p{
    margin: auto auto;
    color: #fff;
    width: 250px;
    font-size:1.5em;
    text-align: center;
}
#news .policycontent div i{
    color:#fff;
    font-size:3em;
    padding: 10px;
    cursor: pointer;
    text-shadow: 1px 1px #c2c0c0;
}
/*theflex.css*/

i.arrow {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
#flexslider{
    width: 40%;
    height: 320px;
    margin-right: 3em;
    margin-left: 0.5em;
}
#flexslider .flex{
    width: 40%;
    display: grid;
    grid-template-columns: 180px 1fr 70px;
    grid-template-rows: 100px 120px;
    grid-template-areas: "img title thebutton"
    "thecontent thecontent thecontent";
    background-color: #fff;
    visibility: visible;
    transition: margin 5s ease,opacity 0.5s ease;
    position: absolute;
}
#flexslider .flex .thebutton{
    grid-area: thebutton;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#flexslider .flex .thebutton div{
    width: 30px;
    height: 30px;
    background: rgb(21, 127, 248);
    border-radius: 15px;
    cursor: pointer;
    display: flex;
}
#flexslider .flex .thebutton div:hover{
    background:  rgb(12, 110, 221);
}
#flexslider .flex .thebutton div i{
    margin: auto auto;
}
#flexslider .flex .theicon{
    grid-area: img;
    max-width: 100%;
    max-height: 100px;
    background-color: #fff;
}
#flexslider .flex a{
    grid-area: title;
    margin-top: 0.7em;
    margin-left: 0.2em;
    background: #fff;
    text-decoration: none;
    color: #000000;
    font-size: 1.2em;
}
#flexslider .flex .thecontent{
    grid-area: thecontent;
    background: #fff;
    font-size: 1em;
    margin-top:1em;
    min-height: 120px;
    border:1px solid rgb(185, 185, 185);
    padding:10px 10px;
    font-family: 'Lato', sans-serif;
}
#flexslider .flex .thecontent::before{
    background-color: #fff;
    border: 1px solid transparent;
    border-top: 1px solid rgb(185, 185, 185);
    border-left: 1px solid rgb(185, 185, 185);
    margin-top:-20px;
    margin-left: 40px;
    content: " ";
    display: block;
    height: 16px;
    position: absolute;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 16px;
}

@media screen and (max-width:900px){
    #flexslider{
        margin-top: 3em;
        width:90%;
        margin-left: 1em;
    }
    #flexslider .flex{
        width:90%;
    }
}

/**Anim CSS*/

#anim{
    position: relative;
    z-index: -10;
    width: 100%;
    top:calc(var(--head) + var(--gap));
    height: calc(100vh - var(--head));
}

@media screen and (max-width:900px){

}

@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}


@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    background-color: #ff8a00;
    opacity: 0;
    z-index: 0;
	backface-visibility: hidden;
    animation: imageAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div { 
    z-index: 110;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    background: red;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div h3 { 
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    padding: 0;
    /* line-height: 200px;  */
}
.cb-slideshow li:nth-child(2) div { 
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) div { 
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) div { 
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}

#alwaystop{
    position: absolute;
    width:300px;
    height: 200px;
    top:20%;
    z-index:1000;
    left:30%;
    background: white;
    padding:10px;
}
.layout-container{
    position: relative;
    top:calc(var(--head) + 5px + var(--gap));
    min-height:calc(100vh - var(--head));
    z-index: 100;
    width:100%;
    display:grid;
    padding-bottom: 70px;
    grid-row-gap: 10px;
    grid-column-gap: 1%;
    grid-template-columns: 19% 60% 19%;
    grid-template-areas: "fsidebar content ssidebar";
}
.layout-content{
    grid-area: content;
}
.layout-sidebar-first{
    float:left;
    padding: 10px;
    text-align: center;
    grid-area:fsidebar;
}
.layout-sidebar-second{
    float: right;
    padding: 10px;
    grid-area:ssidebar;
    text-align: center;
}
a{
    color:orange;
    text-decoration:none;
}
a:hover{
    color:blueviolet;
}
@media screen and (max-width:900px){
    #news{
        width:90%;
        margin-left: 5%;
        margin-right: 5%;
      }
    #special-area{
        display: flex;
        flex-direction: column;
    }
    #act-content{
        display: grid;
        grid-template-columns: 1fr;
        min-height: auto;
    }
    .act-tabs{
        list-style-type: none;
        margin: 0;
        padding: 0;
        white-space:nowrap;
        width:100%; 
        height: 64px;
        padding-right: 2em;
        border:0.5px solid #bfbaba;
        border-bottom: 2px solid gray;
        background: #fff;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        z-index: 100;
    }
    .layout-content{
        width:95vw;
        margin:2.5vw;
    }
    .act-tabs li{
        font-size: 1em;
        display: inline-block;
        width:64px;
        height: 64px;
        padding: 0;
        border: none;
        margin-top: -2px;
        border-bottom: 2px solid gray;
        border-radius: 0;
        cursor: pointer;
    }
    .act-tabs li.active{
        border: 2px solid gray;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom: 2px solid rgb(240, 239, 239);
    }
    .act-tabs img{
        margin: 7px;
        width:50px;
    }
    .act-tabs p{
        display: none;
    }
    .tab-content{
        width:100%;
        border-radius: 0;
        border-top:none;
        margin: 0 0 0 0;
        padding: 0 1em 1em 1em;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    #anim{
        height:calc( ((100vw / 16) * 9) - var(--head) + var(--gap));
    }
    #sidediv{
        top:calc( ((100vw / 16) * 9) + (2 * var(--gap) ) );
    }
    #sidediv p{
        font-size:1.5em;
        margin:10px;
    }
}
@media screen and (max-width:900px){
    .layout-container{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "fsidebar ssidebar""content content";
    }
}
@media screen and (max-width:600px){
    .layout-container{
        grid-template-columns: 1fr;
        grid-template-areas: "fsidebar""ssidebar""content";
    }
}